.app-container {
   max-width: 1400px;
   padding: 2rem 0;
   margin: auto;
}

.crypto-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 2rem;
}

