
.crypto{
   border: 1px solid skyblue;
   border-left: 10px solid skyblue;
   border-radius: 5px;
   padding: 1rem;
}

.info{
   color: rgb(190,190,190);
}

.label{
   color: skyblue;
}

.positive{
   color:greenyellow
}
.negative{
   color:red
}
